<% content_for(:title, 'Meet celebrities!') %>
<div class="container">
  <div id="marquee" class="row">
    <h1>Meet your Hero</h1>

    <p class="lead">
      Ever wanted to meet your favorite celebrity? Now you can! 
    </p>
    <%= render 'layouts/searchbar' %>

  </div>

  <div id="search_container" class="row">
    <div class="span3">
      <%= image_tag("icon-step-1.png", :width => "80%") %>
      <h3>Step 1</h3>
      Find your hero using our handy search box!
    </div>

    <div class="span3">
      <%= image_tag("icon-step-2.png", :width => "80%") %>
      <h3>Step 2</h3>
      Place a bid to meet your hero in person for one hour. Proceeds go to charity!
    </div>

    <div class="span3">
      <%= image_tag("icon-step-3.png", :width => "80%") %>
      <h3>Step 3</h3>
      Stay on top. Remember to keep outbidding your less worthy rivals.
    </div>

    <div class="span3">
      <%= image_tag("icon-step-4.png", :width => "80%") %>
      <h3>Step 4</h3>
      Once you're the highest bidder and your hero accepts your bid, we'll set you two up to meet.
    </div>
  </div> <!-- end marquee -->

  <hr />

  <div id="carousel" class="row-fluid pagination-centered">
    <h2 class="pagination-centered">
      <% 3.times do %>
      <%= image_tag("star.png") %> 
      <% end %> Featured Heroes
      <% 3.times do %>
      <%= image_tag("star.png") %> 
      <% end %>
    </h2>
    <% @heroes.each do |hero| %>
      <a href="/meet/<%= hero.name %>" id="hero-<%= hero.id %>">
      <div class="span4 hero" id="hero-<%= hero.id %>">
        <%= render 'twitter_verified_users/blacklist', :hero => hero %>
        <img src=<%= hero.original_profile_image_url %> class="img-rounded"/>
        <h4>
          <%= hero.name %>
          <small>@<%= hero.screen_name %></small>
        </h4>
      </div>
      </a>
    <% end %>
  </div>
</div>
