<div class="container">
  <div class="row" id="marquee">
    <div class="span12">
      <h1>Hello Hero</h1>
      <h2>meet your hero</h2>
      <div>
        <input type="text" id="search_bar" placeholder="Who do you want to meet?" class="span6">
        <script type="text/javascript">
          $('#search_bar').focusin(function() { this.placeholder = '' });
          $('#search_bar').focusout(function() { this.placeholder = 'Who do you want to meet?' });
          $(function(){
              $('#search_bar').typeahead({
                name: 'twitter_verified_users',
                prefetch: 'http://localhost:3000/twitter.json',
                template: [
                '<div class="row">',
                '<div class="span1">',
                '<img src="{{img}}"/>',
                '</div>',
                '<div class="span5">',
                '<p class="screen_name">@{{screen_name}}</p>',
                '<p class="real_name">{{value}}</p>',
                '<p class="description">{{description}}</p>',
                '</div>',
                '</div>'
                ].join(''),
                engine: Hogan,
                limit: 5
                });
              });
        </script>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <% @heroes.each do |hero| %>
      <div class="span4 hero" id="hero-<%= hero.id %>">
        <%= hero.name %>
        <img src=<%= hero.profile_image_url %> class="img-rounded"/>
        <%= hero.screen_name %>
        <%= hero.highest_bid %>
      </div>
    <% end %>
  </div>

  <div class="row-fluid" id="how-it-works">
    <h2>How it works</h2>
    <p> 
    Step 1:
    Find your hero.
    </p>
    <p>
    Step 2:
    Place your bid to meet your hero in person for one hour.
    </p>
    <p>
    Step 3:
    Stay on top. Remember to keep outbidding your less worthy rivals.
    </p>
    <p>
    Step 4:
    Once you're the highest bidder and your hero accepts your bid, we'll set you two up for your meeting.
    </p>

  </div>
</div>
<footer>
<ul>
  <li><a>Claim your account</a></li>
</ul>
</footer>
