<div class="container">
  <div class="row" id="marquee">
    <div class="span12">
      <h1>Meet your hero</h1><br />
      <div>
        <input type="text" id="search_bar" placeholder="Who do you want to meet?" class="span6">
        <script type="text/javascript">
          $('#search_bar').focusin(function() { this.placeholder = '' });
          $('#search_bar').focusout(function() { this.placeholder = 'Who do you want to meet?' });
          $(function(){
              $('#search_bar').typeahead({
                name: 'twitter_verified_users',
                prefetch: 'http://localhost:3000/twitter.json',
                template: [
                '<div class="row">',
                '<div class="span1">',
                '<img src="{{img}}"/>',
                '</div>',
                '<div class="span5">',
                '<p class="screen_name">@{{screen_name}}</p>',
                '<p class="real_name">{{value}}</p>',
                '<p class="description">{{description}}</p>',
                '</div>',
                '</div>'
                ].join(''),
                engine: Hogan,
                limit: 5
                });
              });
        </script>
      </div>
    </div>

  <div class="row-fluid">
    <% @heroes.each do |hero| %>
      <div class="span4 hero" id="hero-<%= hero.id %>">
        <img src=<%= hero.original_profile_image_url %> class="img-rounded"/>
        <p><h4><%= hero.name %></h4></p>
        <p><h5>@<%= hero.screen_name %></h5></p>
        <p><h5><%= hero.highest_bid %></h5></p>
      </div>
    <% end %>
  </div>

  </div>



  <div class="row-fluid" id="how-it-works">
    <div class="span12">
      <h2>How it works</h2>
    </div>
    <div class="span4">
      <ul>
        <li><%= image_tag("icon-step-1.png") %></li>
        <li><%= image_tag("icon-step-2.png") %></li>
        <li><%= image_tag("icon-step-3.png") %></li>
        <li><%= image_tag("icon-step-4.png") %></li>
      </ul>
    </div>
    <div class="span8" style="width: 400px;">
      <h3> 
        Step 1:
      </h3>
      Find your hero.
      <p>
      <h3> 
        Step 2:
      </h3>
      Place your bid to meet your hero in person for one hour.
      </p>
      <p>
      <h3> 
        Step 3:
      </h3>
      Stay on top. Remember to keep outbidding your less worthy rivals.
      </p>
      <p>
      <h3> 
        Step 4:
      </h3>
        Once you're the highest bidder and your hero accepts your bid, we'll set you two up for your meeting.
      </p>
    </div>
  </div>
</div>
<footer>
<ul>
  <li><a>Claim your account</a></li>
</ul>
</footer>
