<% content_for(:title, @hero.name) %>
<div class="row">
  <div class="span6">
    <h2>
      <img src="<%= @hero.big_profile_image_url %>" />
      <%= @hero.name %> 
      <small>
        <a href="<%= "http://twitter.com/#{@hero.screen_name}"%>">
          <%= "@#{@hero.screen_name}" %>
        </a>
      </small>
    </h2>

    <a href="" class="btn">Are you <%= @hero.name %>?</a>
  </div>
  <div class="span6">
    <h3>Latest Bids</h3>

    <% if @hero.bids.empty? %>
      <p>There are no bids yet for <%= @hero.name %>...</p>
    <% else %> 
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr> 
          <th>User</th>
          <th>Bid</th>
          <th>Date Submitted</th>
        </tr>
      </thead>
      <tbody id="bids">
        <%= render :partial => 'bids/bid', :collection => @bids %>
      </tbody>
    </table>
    <% end %>

    <p>Do you want to meet <%= @hero.name %>?</p>
    <% if current_user %>
      <%= form_for(@bid, :remote => true, :controller => :bids, :action => :create ) do |f| %>
        <%= f.label :amount %>
        <%= f.text_field :amount %>
        <%= f.hidden_field :twitter_verified_user_id, :value => @hero.id %> 
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit %>
      <% end %>
    <% else %>
      <a href="/sign_in">Please sign_in to bid</a>
    <% end %>
  </div>
</div>

<div class="row">
</div>
