<% content_for(:title, @hero.name) %>
<div class="main-content">
  <div class="profile">
    <div class="bg-image">
      <img src="<%= @hero.get_json['profile_background_image_url']%>">
      <div class="profile-info">
        <img class="profile-image" src="<%= @hero.big_profile_image_url %>">
        <div class="profile-right">
          <h1><%= @hero.name %>
            <br>
            <small>
            <a href="<%= "http://twitter.com/#{@hero.screen_name}" %>" target="_blank">
              <%= "@#{@hero.screen_name}" %>
            </a>
          </small>
          </h1>
          <p class="description">
          <%= @hero.description %>
          </p>
        </div>
        <div class="bid-info">
          <span class="badge badge-info"><%= pluralize(@hero.bids.count,'bid') %></span>
          <div class="recent-bid">
            <h4>Most Recent Bid</h4>
            <% if @hero.bids.count > 0 %>
              <% recent_bid = @hero.bids.last %>
              <%= recent_bid.user.name %><br>
              <%= number_to_currency recent_bid.amount %>
            <% else %>
              No bids yet...
            <% end %>
          </div>
          <div class="highest-bid">
            <h4>Highest Bid</h4>
            <% if @hero.bids.count > 0 %>
              <% highest_bid = @hero.bids.sort_by { |bid| bid.amount }.last %>
              <%= highest_bid.user.name %><br>
              <%= number_to_currency highest_bid.amount %>
            <% else %>
              Be the first!
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="bids-head">
      <h2>Latest Bids</h2>
    </div>
    <div class="bids">
      <% if @hero.bids.empty? %>
        <p>There are no bids yet for <%= @hero.name %>...</p>
      <% else %>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>User</th>
              <th>Bid</th>
              <th>Date Submitted</th>
            </tr>
          </thead>
          <tbody id="bids">
            <%= render :partial => 'bids/bid', :collection => @hero.bids %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <div class="sidebar">
    <div class="sidebar-box">
      <h4>Do you want to meet
        <br><%= @hero.name %>?</h4>
      <% if current_user %>
        <% if @bid.new_record? %>
          <p><strong>Submit a bid!</strong></p>
        <% elsif @bid == highest_bid %>
          <p><strong>(You're winning!)</strong></p>
        <% else %>
          <p><strong>Increase your bid!</strong></p>
        <% end %>
        <% form_method = @bid.new_record? ? 'post' : 'put' %>
        <%= form_for(@bid, :method => form_method, :html => { :class => 'form-inline' }) do |f| %>
          <div class="input-prepend">
            <span class="add-on">$</span>
            <%= f.text_field :amount, :class => 'span2' %>
          </div>
          <%= f.hidden_field :twitter_verified_user_id, :value => @hero.id %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <p class="the-button">
            <%= f.button 'Submit Bid', :class => 'btn btn-success' %>
            </p>
        <% end %>
      <% else %>
        Please <%= link_to 'log in', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to bid for an hour of this hero's time!
      <% end %>
    </div>

    <div class="sidebar-box">
      <h4>Do you happen to be <%= @hero.name %>?</h4>
      <%= link_to 'Claim your Hero account and pick a fan to meet!', pages_make_a_dream_come_true_path, :class => 'btn btn-primary' %>
    </div>
  </div>
</div>
