<ul class="nav nav-pills pagination-centered">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Top 10", meet_path %></li>
  <li><%= link_to "FAQ", pages_faq_path %></li>
  <li><%= link_to "Terms", pages_terms_path %></li>
  <li><%= link_to "Privacy", pages_privacy_path %></li>
  <li><%= link_to "About", pages_about_path %></li>
  <li><%= link_to "Contact", pages_contact_path %></li>
</ul>
