<%= link_to(image_tag('Hello-Hero-Logo.png', :alt => "Hello Hero Logo"), root_path) %>
<% unless controller.controller_name == 'pages' and controller.action_name == 'index' %>
  <%= render 'layouts/searchbar' %>
<% end %>
<ul class="nav pull-right">
  <% if user_signed_in? %>
    <li>
    <%= link_to(current_user.email, edit_user_registration_path) %>
    </li>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
    <li>
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>
