<% content_for(:title, 'Edit Account') %>
<div class="container">
  <div class="row">
    <div class="span4">
      <div class="well">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :name %>
          <%= f.text_field :name, :autofocus => true %></div>

          <div><%= f.label :email %>
          <%= f.email_field :email %></div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div><%= f.label :password %> <i>(leave blank if you don't want to change)</i>
          <%= f.password_field :password, :autocomplete => "off" %></div>

          <div><%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %></div>

          <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password %></div>

          <div><%= f.submit "Update", :class => 'btn btn-primary' %></div>
        <% end %>

        <h2>Cancel my account</h2>

        <p>
          Unhappy with us? <a href="mailto:hi@hellohero.co">Let us know!</a> <br />
          But if you really must go... <br />
          <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger' %>
        </p>
      </div>
    </div>

    <div class="span8">
      <h2>Current Bids</h2>

      <% if current_user.bids.empty? %>
        <p>You have no bids yet.</p>
        <p><%= link_to 'Find a Hero to meet!', root_path, :class => 'btn btn-success' %></p>
      <% else %>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Hero</th>
              <th>Amount</th>
              <th>Created At</th>
              <th>Updated On</th>
              <th>Mo' Money?</th>
            </tr>
          </thead>

          <tbody>
          <% current_user.bids.each do |bid| %>
            <tr>
              <td><%= bid.twitter_verified_user.name %></td>
              <td><%= number_to_currency bid.amount %></td>
              <td><%= bid.created_at %></td>
              <td><%= bid.updated_at %></td>
              <td><button class="btn btn-success">Update Bid!</button></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
